*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(12, 14, 14); */
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: rgb(12, 14, 14);

}
.just{
    justify-content: space-between;
}
.width50{
    width: 50%;
}

.hero{
 font-size: 50px;
 font-style: italic;
 color: rgb(102, 155, 58);
}
.color{
    color: rgb(49, 153, 110);
}
.paddingri{
    padding-right: 70px;

}
.over li a:hover{
    color:blueviolet;
    border-radius: 50px;
    
    padding: 4px 4px;
}
/* frst row starts */
.nameWrapper{
  padding-top: 200px;
 
    
}
.nameWrapper h1,h2{
 padding-left: 500px;
}
.nameWrapper h1:hover,h2:hover{
    color: rgb(229, 226, 233);
    
}
.nameWrapper p{
    padding-left:590px;
    padding-top: 20px;
}
/* .nameWrapper{
    position: relative;
    left:40px;
    top:100px;
}
.nameWrapper h1{
    margin-left: 50px;
}
.imgShape{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
}
.imgShape img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.wrapperN{
    display: flex;
    background-color: rgb(7, 31, 31);
}
.wrapperN:hover{
    background-color: darkslateblue;

}

.imgShape{
    position: relative;
    top:150px;
    margin-left: 100px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    overflow: hidden;
    
}
.imgShape img{
    position: absolute;
   
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.firstRow{
    margin-bottom: 30px;
    height: 500px;
    
    
}
.nameWrapper p a{
    border-radius: 40px;
    padding: 10px;
    background-color: blueviolet;
    text-decoration: none;
}
.nameWrapper p a:hover{
    background-color: bisque;
    color:black;
}
.social{
    list-style: none;
  
}
.social li{
    padding-top: 50px;
    padding-bottom: 10px;
}
.social li a{
    color: aliceblue;
    border: 2px solid blue;
    border-radius: 60px;
    padding: 10px;
}
.styleMern,.styleMern2,.styleMern3,.styleMern1{
    border: 3px solid green;
    padding: 5px;
    border-radius: 100px;
}
.styleMern1{
    border:3px solid red;
}
.styleMern2{
    border:3px solid white;
}
.styleMern3{
    border:3px solid yellowgreen;
    
}
@media only screen and (max-width: 768px) {
 
       .nameWrapper h2{
        font-size: 18px;
        padding-left: 200px;
        padding-top: 10px;
       }
       .nameWrapper h1{
        padding-left: 200px;
       }
       .nameWrapper p{
        padding-left:300px;
        padding-top: 90px;
        
    }
    .nameWrapper{
        padding-top: 70px;
    }
    

}
/* first row ends */


/* about starts */
.secondRow{
text-align: center;
padding-top: 30px;
padding-left: 100px;
background-color: rgba(120, 167, 77, 0.219);
height: 500px;
}
.secondRow h1{
    color: rgb(85, 49, 153);
    font-size: 40px;
    font-weight: bold;

}
.secondRow p{
    color: rgb(14, 13, 13);
}
.box{
    padding-top: 0;
    background-color: rgb(46, 26, 100);
    border-radius: 50px;
   
    width:800px;
    height:300px;
}
.box h4,h5{
    color:black;
}
.box h4{
    padding-bottom: 10px;;
    
}
.box p{
    max-width: 700px;
    padding-left: 30px;
}
.box:hover{
    background-color: rgb(61, 23, 23);
}
.about{
    padding-bottom: 30px;
}
.box h1:hover,p:hover{
    color:azure
}
@media only screen and (max-width: 768px){
    .box{
        width: 500px;
        height: 400px;

    }
    .secondRow h1{
        color: rgb(207, 203, 214);
        font-size: 40px;
        font-weight: bold;
        padding-top: 20px;
        
    
    }
    .secondRow{
        padding-left: 10px;;
        
    }
    .box h5{
        position: relative;
    
        width: 300px;
        left:90px;
        color: black;
    }
    .box h4{
        font-size: 30px;
        color: azure;
        font-weight: bold;
    }

    

}

/* about ends */


/* skills starts */
.skillsWrapper{
    display: flex;
}
.skillsWrapper div{
    flex:1;
}
.skillcol{
    background-color: aliceblue;
    height: 300px;
    border-radius: 40px;
    
}
.skillcol h1{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.skillhi{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
.percentage{
    height: 400px;
    width:500px;
    color: rgb(64, 128, 184);
}
.prct{
    width: 100px;
    height: 3px;
    background-color: brown;
}
@media only screen and (max-width: 768px){
    .skillsWrapper{
        display: flex;
        flex-direction: column;
    }
    .skillcol{
        background-color: aliceblue;
        height: 800px;
        border-radius: 40px;
        
    }
    .skillhi{
        height: 100px;
        width: 100px;
        border-radius: 30px;
        position: relative;
        left: 200px;
        padding-top: 20px;
    }


}
/* skills ends */
/* footer starts */
.colorblack{
    background-color: rgb(1, 33, 36);
    margin-top: 30px;
    padding-top: 30px;
}
.footerText h1,h6,h5{
    color: white;
    
   

}
.footerText h1{
    text-align: center;
}
.footerText{
    border-bottom: 1px solid rgb(18, 19, 12);


}
@media only screen and (max-width: 768px){
    .colorblack{
     
        background-color: rgb(80, 51, 61);
      
       
        
    }   
    .footerText h5,h6{
        position: relative;
        left: 260px;
    }
}



/* footer ends */
