html{
    padding-right:0;
    margin-right: 0;
    clear: both;
}

body{
    margin:0px;
    padding: 0px;
    background-color: rgb(12, 14, 14);
    

}

/* .nav{
    clear: both;
} */

.just{
    justify-content: space-between;
}
.width50{
    width: 50%;
}

.hero{
 font-size: 50px;
 font-style: italic;
 color: rgb(102, 155, 58);
}
.color{
    color: rgb(49, 153, 110);
}
.paddingri{
    padding-right: 70px;

}
.over li a:hover{
    color:blueviolet;
    border-radius: 50px;
    
    padding: 4px 4px;
}
/* frst row starts */
.nameWrapper{
  padding-top: 200px;
 
    
}
.nameWrapper h1,h2{
 padding-left: 500px;
}
.nameWrapper h1:hover,h2:hover{
    color: rgb(229, 226, 233);
    
}
.nameWrapper p{
    padding-left:590px;
    padding-top: 20px;
}


.wrapperN{
    display: flex;
    background-color: rgb(7, 31, 31);
}
.wrapperN:hover{
    background-color: darkslateblue;

}

.imgShape{
    position: relative;
    top:150px;
    margin-left: 100px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    overflow: hidden;
    
}
.imgShape img{
    position: absolute;
   
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.firstRow{
    margin-bottom: 30px;
    height: 500px;
    padding-right: 0px;
  
    
    
}
.nameWrapper p a{
    border-radius: 40px;
    padding: 10px;
    background-color: blueviolet;
    text-decoration: none;
}
.nameWrapper p a:hover{
    background-color: bisque;
    color:black;
}
.social{
    list-style: none;
  
}
.social li{
    padding-top: 50px;
    padding-bottom: 10px;
}
.social li a{
    color: aliceblue;
    border: 2px solid blue;
    border-radius: 60px;
    padding: 10px;
}
.styleMern,.styleMern2,.styleMern3,.styleMern1{
    border: 3px solid green;
    padding: 5px;
    border-radius: 100px;
}
.styleMern1{
    border:3px solid red;
}
.styleMern2{
    border:3px solid white;
}
.styleMern3{
    border:3px solid yellowgreen;
    
}
@media only screen and (max-width: 1144px)
{
    .nameWrapper h2{
        font-size: 40px;
        padding-left: 170px;
        padding-top: 10px;
       }
       .nameWrapper h1{
        padding-top: 10px;
        padding-left: 200px;
        font-size: 70px;
       }
       .nameWrapper p{
        padding-left:400px;
        padding-top: 20px;
        
    }
    .nameWrapper{
        padding-top: 30px;
       
          
      }
}
@media only screen and (max-width: 900px){
    .nameWrapper h2{
        font-size: 20px;
        padding-left: 170px;
        padding-top: 10px;
       }
       .nameWrapper h1{
        padding-top: 10px;
        padding-left: 200px;
        font-size: 30px;
       }
       .nameWrapper p{
        padding-left:400px;
        padding-top: 20px;
        
    }
}
@media only screen and (max-width: 992px){
    .nameWrapper h2{
     max-width: 800px;
     text-align: center;
    

       }
       .styleMern,.styleMern2,.styleMern3,.styleMern1{
    
        padding: 1px;
        border-radius: 100px;
    }
}

@media only screen and (max-width: 768px) {
 
       .nameWrapper h2{
        font-size: 25px;
        padding-left: 150px;
        padding-top: 10px;
       }
       .nameWrapper h1{
        padding-left: 200px;
        font-size: 30px;
       }
       .nameWrapper p{
        padding-left:300px;
        padding-top: 90px;
        
    }
    .nameWrapper{
        padding-top: 70px;
    }
    .firstRow{
        width: 100%;
    }
    

}
@media only screen and (max-width: 552px){
    .nameWrapper h2{
        font-size: 20px;
        padding-left: 40px;
        padding-top: 10px;
       }
       .nameWrapper h1{
        padding-left: 50px;
        font-size: 40px;
       }
       .nameWrapper p{
        padding-left:200px;
        padding-top: 90px;
        
    }

}
@media only screen and (max-width: 620px){
    .nameWrapper h2{
        font-size: 20px;
        padding-left: 60px;
        padding-top: 10px;
       }
       .nameWrapper h1{
        padding-left:70px;
        font-size: 40px;
       }
       .nameWrapper p{
        padding-left:200px;
        padding-top: 90px;
        
    }

}
@media only screen and (max-width: 494px){
    .nameWrapper h1{
        padding-left:70px;
        font-size: 30px;
       }
}
@media only screen and (max-width: 430px){
    .nameWrapper h1{
        padding-left:30px;
        font-size: 20px;
       }
       .nameWrapper h2{
        padding-left:4px;
        font-size: 17px;
       }
       .nameWrapper p{
        padding-left:100px;
        padding-top: 90px;
        
    }

}

/* first row ends */


/* about starts */
.secondRow{
text-align: center;
padding-top: 30px;

background-color: rgba(120, 167, 77, 0.219);
height: 500px;
width: 800px;
border-radius: 40px;}
.marginAbout{
    margin-left:170px
}

.secondRow h1{
    color: rgb(85, 49, 153);
    font-size: 40px;
    font-weight: bold;

}
.secondRow p{
    color: rgb(14, 13, 13);
    }

.box h4,h5{
    color:black;
}
.box h4{
    padding-bottom: 10px;
    font-size: 30px;
    
}
.box h5{
    font-size: 18px;
}
.box p{
  
    padding-left: 50px;
    padding-right: 20px;
}

.about{
    padding-bottom: 30px;
    margin-top: 30px;
    
}
.box h1:hover,p:hover{
    color:azure
}
@media only screen and (max-width: 1144px){
    .marginAbout{
        margin-left:40px;
    }   

}
@media only screen and (max-width: 1048px){
    .marginAbout{
        margin-left:80px;
    }   
}
@media only screen and (max-width: 768px){
   
    .secondRow h1{
        color: rgb(207, 203, 214);
        font-size: 40px;
        font-weight: bold;
        padding-top: 20px;
        
    
    }
    .secondRow{
        padding-left: 10px;;
        
    }
    .box h5{
    text-align: center;
    padding-left: 100px;
    font-size: 20px;
    color: brown;
    }
    .box h4{
        font-size: 30px;
        color: azure;
        font-weight: bold;
    }
    .marginAbout{
        margin-left:0px;
        border-radius: 0px;
    }.box p{
  
        font-size: 18px;
        color:brown;
    }   


    

}
@media only screen and (max-width: 520px)
{
    .box p{
  
        font-size: 15px;
        color:brown;
        padding-top: 40px;
        padding-bottom: 40px;
        max-width: 1200px;
        padding-left: 0px;
    } 
    .secondRow{
        text-align: center;
        padding-top: 30px;
        
        background-color: rgba(177, 182, 173, 0.219);
        height: 500px;
        width: 800px;
        border-radius: 0px;}
        .secondRow h1{
            color: rgb(207, 203, 214);
            font-size: 50px;
            font-weight: bold;
            padding-top: 20px;
            
        
        }
        .box h5{
            font-size: 15px;
            max-width: 500px;
            padding-left: 5px;
        }
        .box h4{
            font-size: 40px;
        }
        .container{
          
            padding-left: 0px;
            
        }
}


/* about ends */


/* skills starts */
.skillsWrapper{
    display: flex;
}
.skillsWrapper div{
    flex:1;
}
.skillcol{
    background-color: aliceblue;
    height: 300px;
    border-radius: 40px;
   
    
}
.skillcol h1{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.skillhi{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

/* .prct{
    width: 100px;
    height: 3px;
    background-color: brown;
} */
@media only screen and (max-width:862px){
     
    .skillcol{
        background-color: rgb(106, 44, 223);
        height: 300px;
        border-radius: 0px;
        margin-left: 0px;
        
    }
}
@media only screen and (max-width: 768px){
    .skillsWrapper{
        display: flex;
        flex-direction: column;
    }
    .skillcol{
        background-color: aliceblue;
        height: 800px;
        border-radius: 0px;
        margin-left:0px;
        
    }
    .skillhi{
        height: 100px;
        width: 100px;
        border-radius: 30px;
        position: relative;
        left: 200px;
        padding-top: 20px;
    }



}
@media only screen and (max-width: 430px)
{
    .skillhi{
        height: 100px;
        width: 100px;
        border-radius: 30px;
        position: relative;
        left: 160px;
        padding-top: 20px;
    }

}

/* skills ends */
/* services */
.serviceWrapper{
    margin-top: 30px;
    background-color: gray;
    padding-top: 30px;
    height: 400px;
}
.serviceWrapper>div{
    display: flex;

}
.serviceWrapper>div>div{
    flex:1;

}
.heads{
    text-align: center;
    color: rgb(10, 10, 10);
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
}
.serviceone{
background-color: rgb(115, 167, 209);
height: 200px;
border-radius: 80px;
margin-left: 20px;
color: white;
text-align: center;
}

.service2{
    background-color:rgb(1, 13, 14) ;
    border-radius: 80px;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    text-align: center;
}
.service3{
    background-color: darkgreen;
    border-radius: 80px;
    margin-right: 20px;
    color: white;
    text-align: center;
}
.serviceWrapper h1{
    font-size: 30px;
    padding-top: 50px;
    
}
@media only screen and (max-width: 768px){
    .serviceWrapper>div{
        display: flex;
        flex-direction: column;
    
    }
    .serviceWrapper{
       
        height: 900px;
    }
    .serviceone{
        border-radius: 40px;
        margin-left: 0;
        height: 400px;
        margin-left: 200px;
        margin-bottom: 20px;
       
    }
    .serviceone h1,.service2 h1,.service3 h1{
        text-align: center;
        font-size: 20px;
        padding-bottom: 30px;
        }
        
        .service2{
            border-radius: 40px;
            margin-left: 0;
            height: 400px;
            margin-left: 200px;
            margin-bottom: 20px;
          
        }
        .service3{
            border-radius: 40px;
            margin-left: 0;
            height: 400px;
            margin-left: 200px;
            margin-bottom:20px;
        }
        .heads{
            padding-left: 40px;
        }
        .serviceWrapper{
            margin-left: 0px;
            margin-right: 0px;
            padding-right: 0;
        }   
}
@media only screen and (max-width: 405px){
    .serviceone h1,.service2 h1,.service3 h1{
        text-align: center;
        font-size: 20px;
        padding-bottom: 30px;
      
        }
        .serviceone,.service2,.service3{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            border-radius: 0;
        }
        .serviceWrapper{
            margin-right: 0;
            height: 700px;
        
        }

         
}
/* services */
/* footer starts */
.colorblack{
    background-color: rgb(1, 33, 36);
    margin-top: 30px;
    padding-top: 30px;
    height: 400px;
}
.footerText h1,h6,h5{
    color: white;
    padding-right: 0px;
    margin-right: 0px;
    padding-bottom: 10px;
    
   

}
.footerText h1{
    text-align: center;
}
.footerText{
    border-bottom: 1px solid rgb(18, 19, 12);


}
.mail{
    text-decoration: none;
    font-size: 20px;
    
    padding: 10px;
    border-radius: 40px;
    background-color: green;
    

}

@media only screen and (max-width: 768px){
    .colorblack{
     
        background-color: rgb(80, 51, 61);
      
       
        
    }   
    .footerText h5,h6{
        padding-left: 150px;
    }
}
@media only screen and (max-width: 520px)
{
    .footerText h5{
        font-size: 15px;
    }
}


/* footer ends */
